.container {
    height: 800px;
}



.form-dangky {
    background-color: white;
    margin-left: 20%;
    margin-right: 19%;
    height: 30%;
    padding: 15px;

}
.form-dangky-duongdan {
  
    height: 10%;
    display: flex;
    justify-content: start;
    
}

.form-dangky-duongdan ul{
    margin-top: 0px;
    display: flex;
    padding-left: 0px;
    height: 100%;
}

.form-dangky-duongdan ul li{
    display: flex;
   
    padding-right: 10px;
}

.form-dangky-duongdan ul li a {
    text-decoration: none;
    color: #288ad6;
}
.form-dangky-duongdan ul li a:hover {
    text-decoration: underline;
    color: #ae4ad9;
}

.trangchu::after {
    content: "\00BB";
    color: #ccc;
    padding-left: 5px;
}

.form-dangky-main {
    width: auto;
    height: auto;
   
}

.form-dangky-main-text {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    height: 45%;
}

.form-dangky-main-text h1 {
    font-size: 20px;
    margin-bottom: 15px;
}

.form-dangky-main-text p {
    font-size: 14px;
  
}

.form-dangky-main-text h1::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: #ee2c74;
    margin-top: 5px;
}

.form-dangky-main-button {
    margin-left: 200px;
    margin-right: 100px;
    margin-top: 30px;
    height: 50%;

}

.form-dangky-main-button-fb {
  /* padding: 5px 0px 5px 0px; */
  width: 100%;
  height: 50%;
  margin-bottom: 15px;

}

.form-dangky-main-button-fb a {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,.2);
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;

}

.form-dangky-main-button-fb a span{
    margin-left: 112px;
    margin-right: 112px;
}

.form-dangky-main-button-fb a i {
   height: 39px;
   line-height: 39px;
    padding-right: 10px;
    font-size: 20px;
    border-right: 1px solid rgba(0,0,0,.2);
}

.form-dangky-main-button-gg {
    /* padding: 5px 0px 5px 0px; */
    width: 100%;
    height: 50%;
    margin-top: 10px;
  }
  
.form-dangky-main-button-gg a {
      color: #fff;
      background-color: #dd4b39;;
      border-color: rgba(0,0,0,.2);
      text-align: center;
      text-decoration: none;
      padding: 10px 20px 10px 8px;
      border-radius: 4px;

}
  
.form-dangky-main-button-gg a span{
      margin-left: 112px;
      margin-right: 112px;
      padding-left: 9px;
}
  
.form-dangky-main-button-gg a i {
     height: 39px;
     line-height: 39px;
      padding-right: 7px;
     
      font-size: 18px;
      border-right: 1px solid rgba(0,0,0,.2);
}

.form-dangky-main-button-gg a:hover {
    background-color:#d04131;
}

.form-dangky-main-button-fb a:hover {
    background-color:#2d477e;
}